# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.metadata/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## build files and bins
.build_Debug/
.build_Release/
bin/

## ignore KDE files
.directory

